.heading{
    text-transform: uppercase;
    text-transform: capitalize;
    text-align: center;
    color: black;
    font-size: 8mm;
    font-family: 'Mali', cursive;
    border-style: double;
    border: 2px solid ;
}
#typed{
    white-space: pre;
    display: none;
    animation: blink 0.7s infinite;
    opacity: 1;
    font-weight: 100;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    -ms-animation: blink 0.7s infinite;
    -o-animation: blink 0.7s infinite;
    
}
.paragraph{
    font-size: 5mm;
    font-family: 'Niramit', sans-serif;
    padding-left: 20px;
}
.note{
    font-size: 5mm;
    text-transform: capitalize;
}
.background{
    background: linear-gradient(#66ccff 0%, #ffffff 60%);
    height: 400px;
}

.imagine{
    width: 250px;
    height:200px;
    display: flex;
    margin: 10px;
}
.flex{
    display: flex;
    justify-content: space-around;
}
.type-1 a:hover {
  padding-left: 48px;
  padding-right: 28px;
}
.type-1 a:hover .round {
  width: calc(100% - 6px);
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
}
.type-1 a:hover .round i {
  left: 12%;
}
.btn-1 {
  background-color: #F27935;
}
.btn-1 .round {
  background-color: #f59965;
}
.txt {
  font-size: 14px;
  line-height: 1.45;
}
